body {font-family: Arial, Helvetica, sans-serif; background-color: #F2F2F2}
h1 {
  background-color: #D98555;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: Black;
}
li {line-height: 1.5}
p {
  line-height: 2;
  display: inline-block;
   text-align: center; padding: 15px}
.contact-buttonyaong {
  width: 170px;
  background-color: #59331D;
  border: none;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
footer{
  text-align: center;
  padding: 3px;
  background-color: #D98555;
  color: Black;
}
/* see the brand guide for colors, fonts, and images in CodePen: 
https://docs.google.com/document/d/124Wli0Rxp4GhOrrOijzznbnOfNC9kP8wOVZnPZsR2DE/edit?usp=sharing */
